[Unit]
Description=An AI powered daily quote generator!
After=dbus.service
Wants=dbus.service

[Service]
ExecStart=forever start /usr/share/fortuna/fortuna.js

[Install]
WantedBy=default.target
